<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-center">
                    <h5>Other Things</h5>
                    <h4>That Might Interest You</h4>
                </div>
                <div class="hline-w"></div>
                <p class="text-center">
                    {% for network in site.social %}
                        <a href="{{ network.url }}" class="btn-social btn-outline"><i class="fa fa-{{ network.title }}"></i></a>
                    {% endfor %}
                </p>
            </div>
            <div class="col-lg-6">
                <div class="text-center">
                    <h5>All Your Base</h5>
                    <h4>Are Belong To Us</h4>
                </div>
                <div class="hline-w"></div>
                <p class="text-center">
                    {% for line in site.address.first.lines %}
                    {{ line }} <br>
                    {% endfor %}
                </p>
            </div>
        </div><! --/row -->
    </div><! --/container -->
</div><! --/footerwrap -->