<div id="headerwrap" ng-controller="homeCtrl">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>gitdeploy.io</h1>
                <h3>
                    <img src="https://img.shields.io/badge/gitdeploy.io-deploy%20myapp/master-green.svg"
                         alt="gitdeploy.io">
                </h3>
                <h3>
                    Install and compare apps with one click.
                </h3>
                <h5>Gitdeploy uses flynn to deploy any app with just one click.</h5>
                <h5>No CLIs, no registration, free for Open Source.</h5>
                <br>
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <form ng-submit="createShield($event);">
                    <div class="form-group">
                        <label class="sr-only" for="repositoryUrl">GitHub repository</label>

                        <div class="input-group">
                            <div class="input-group-addon"><span class="fa fa-github"></span></div>
                            <input required pattern="(http|https)\:\/\/github\.com\/[a-zA-Z0-9\-]+\/[a-zA-Z0-9\-]+\.git"
                                   ng-model="repository.url" aria-describedby="helpBlock" type="text" length="30"
                                   class="form-control input-lg" id="repositoryUrl"
                                   placeholder="https://github.com/your/repository.git">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-lg btn-block btn-success">Add your app</button>
                    <span id="helpBlock" class="help-block">Creates a badge for you to add to your README.md</span>
                    <a ng-href="#" ng-click="showIntegration($event);" ng-show="repository.badge">
                        <img ng-src="{( repository.badge )}" alt="gitdeploy.io">
                    </a>
                </form>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->

    <div class="modal fade text-left" id="shieldModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Your shield is ready!</h4>
                </div>
                <div class="modal-body">
                    <p>Copy the code into your clipboard and put it in your repositories README.md</p>
                    <pre><code>[![Deploy {(repository.name)} via gitdeploy.io]({( repository.badge )})]({( repository.deployUrl )})</code></pre>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default" ng-href="{(repository.deployUrl)}">Deploy now</a>
                    <a class="btn btn-success" ng-href="{(repository.readmeUrl)}">Update README.md</a>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div><!-- /headerwrap -->