<div class="container">
    <div class="row" ng-show="error">
        <div class="col-md-12">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <strong>Error: {{ error.status }}</strong>
                </div>
                <div class="panel-body">
                    {{ error.message }}
                </div>
                <div class="panel-footer">
                    <a href="/" class="btn btn-success" target="_self"><span class="fa fa-home"></span> Home</a>
                    <button class="btn btn-default" ng-click="reload()"><span class="fa fa-refresh"></span> Retry
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>