<div id="headerwrap" class="offset-bottom-5">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>EXAMPLES</h2>
            </div>
        </div>
    </div>
</div>

<div class="container offset-bottom-15">
    <div class="row">
        <div class="col-md-12 centered">
            <h3>
                <a href="https://github.com/ory-am/gitdeploy-go-example">Go SSE Example Server</a>
            </h3>

            <h3>
                <a href="https://github.com/9uuso/vertigo">Vertigo: A Go Blogging Platform</a>
            </h3>

            <h3>
                <a href="https://github.com/amirrajan/nodejs-chat">NodeJS Chat</a>
            </h3>

            <h3>
                <a href="https://github.com/amirrajan/nodejs-against-humanity">NodeJS Against Humanity</a>
            </h3>
        </div>
    </div>
</div>

<div ng-include="'views/earlyaccess.html'"></div>