<div id="headerwrap" class="offset-bottom-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1 class="offset-bottom-0">Gitdeploy.io</h1>

                <h3>
                    <img src="https://img.shields.io/badge/gitdeploy.io-deploy%20myapp/master-green.svg"
                         alt="gitdeploy.io">
                </h3>

                <h3>
                    Deploy your app to the cloud.
                </h3>
                <h5>Run your Node, PHP, Ruby, Go, Java, Python app with one click.</h5>
                <h5>No CLIs, no registration, no charges.</h5>
            </div>
        </div>
    </div>
</div>

<form ng-submit="showIntegration($event);" class="col-lg-4 col-lg-offset-4 himg offset-bottom-2">
    <div class="form-group">
        <label class="sr-only" for="repositoryUrl">GitHub repository</label>

        <div class="input-group">
            <div class="input-group-addon"><span class="fa fa-github"></span></div>
            <input required pattern="(http|https)\:\/\/github\.com\/[a-zA-Z0-9\-]+\/[a-zA-Z0-9\-\.]+\.git"
                   ng-model="repository.url" aria-describedby="helpBlock" type="text" length="30"
                   class="form-control input-lg" id="repositoryUrl"
                   placeholder="https://github.com/your/repository.git">
        </div>
    </div>
    <button type="submit" class="btn btn-lg btn-block btn-success">Deploy now</button>
</form>

<div class="modal fade text-left" id="shieldModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Your shield is ready!</h4>
            </div>
            <div class="modal-body">
                <p>Copy the code into your clipboard and put it in your repositories README.md</p>
                <pre><code>[![Deploy {{repository.name}} via gitdeploy.io]({{ repository.badge }})]({{
                    repository.deployUrl }})</code></pre>
                <img ng-src="{{ repository.badge }}" alt="gitdeploy.io">
            </div>
            <div class="modal-footer">
                <a class="btn btn-default" target="_blank" ng-href="{{repository.deployUrl}}">Deploy now</a>
                <a class="btn btn-default" target="_blank" ng-href="{{repository.readmeUrl}}">Add badge to README.md</a>
                <a class="btn btn-primary" target="_blank" ng-href="/docs">Configure your app</a>
            </div>
        </div>
    </div>
</div>

<div ng-controller="ErrorCtrl" ng-include="'views/error.html'"></div>

<div id="service">
    <div class="container">
        <hr>
        <div class="row centered">
            <div class="col-md-4">
                <i class="fa fa-cloud"></i>
                <h4>FUTURE READY</h4>

                <p>
                    We're built on top of the next gen PaaS <a href="http://flynn.io">flynn.io</a> and are 100%
                    virtualized.
                    Our beta release is going to introduce a wide range of features, including modification of
                    environment variables, service bindings (MongoDB, Postgres) and releasing Docker containers.
                </p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-book"></i>
                <h4>DOCS</h4>

                <p>
                    Check the <a href="/docs">docs</a> and to make your apps Gitdeploy ready.
                </p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-github"></i>
                <h4>WE <span style="font-size: .8em;" class="fa fa-heart"></span> OPEN SOURCE</h4>

                <p>
                    gitdeploy.io is free of charge for open source projects!
                </p>
            </div>
        </div>
    </div>
</div>

<div ng-include="'views/earlyaccess.html'"></div>